h1 {
  font-family: 'Dancing Script';
  font-size: 80px;
  color: rgb(106, 112, 170);
}

span {
  display: inline-block;
}

.menu li {
  font-family: "Arial";
  padding: 10 50px;
  font-size: 20px;
  border: 2px;
  display: inline-block;
  width: 150px;
}

.logo {
  width: 200px;
  display: inline-block;
}

.menu {
  display: inline-block;
}

.menu-link {
  color: #000;
}

.menu-link:hover {
  background-color: #ccc;
}

.menu-link:before {
  content: attr(data-en);
}

.menu-link:hover:before {
  content: attr(data-zh);
}

.header {
  background-color: pink;
  position: fixed;
  z-index: 11;
  width: 100%;
  height: 61px;
}

data-zh {
  font-family: SimSun;
}

.magnifier {
  height: 20px;
  width: 20px;
  margin-left: 150px;
}

.login {
  height: 25px;
  width: 25px;
  margin-left: 5px;
}

.car {
  height: 25px;
  width: 25px;
  margin-left: 5px;
}

#wrapper {
  padding-top: 61px;
  background-color: pink;
}

.list{
  /* margin-right: 1200px; */
  width: 220px;
  display: inline-block;
  float: left;
}

.list-link{
  line-height: 30px;
}

#content {
  /* calculate的縮寫，會隨著視窗縮放，左右邊長度可固定任意數值，
  減去任意數值，會剛好置放剩下的區域。 */
  width: calc(100% - 220px);
  display: inline-block;
  background-color: #fff;
  /* viewport height為瀏覽器中可見範圍的高度，
  這邊要設定最小高度，讓內容可以隨著長度變化。 */
  min-height: calc(100vh - 241px);
}

.footer {
  text-align: center;
  background-color: #efa1af;
  line-height: 40px;
  font-size: 20px;
  clear: both;
}

.footer li {
  display: inline;
  margin: 0 5px;
}

.footer li a {
  color: black;
  text-decoration: none;
  font-size: 30px;
}

.footer ul {
  padding-left: 0;
}

.top {
  position: fixed;
  right: 100px;
  bottom: 100px;
  text-align: center;
  line-height: 16px;
  color: #000;
  background-color: #eee;
  padding: 10px;
  border-radius: 100%;
  width: 60px;
  height: 60px;
}

.top:hover {
  background-color: #d68190;
  color: #fff;
  text-decoration: none;
}
