h1 {
  font-family: 'Dancing Script';
  font-size: 80px;
  color: rgb(106, 112, 170);
}

span {
  display: inline-block;
}

.menu li {
  font-family: "Arial";
  padding: 10 50px;
  font-size: 20px;
  border: 2px;
  display: inline-block;
}

.logo {
  width: 200px;
  display: inline-block;
}

.menu {
  display: inline-block;
}

.menu-link {
  color: #000;
}

.menu-link:hover {
  background-color: #ccc;
}

.menu-link:before {
  content: attr(data-en);
}

.menu-link:hover:before {
  content: attr(data-zh);
}

.header {
  background-color: pink;
  position: fixed;
  z-index: 11;
  width: 100%;
}

.bd-example {
  padding-top: 72px;
}

data-zh {
  font-family: SimSun;
}

.magnifier {
  height: 20px;
  width: 20px;
  margin-left: 150px;
}

.login {
  height: 25px;
  width: 25px;
  margin-left: 5px;
}

.car {
  height: 25px;
  width: 25px;
  margin-left: 5px;
}

.d-block {
  height: 500px;
  width: 100px;
}

.title {
  font-family: 'Noto Sans TC';
  font-weight: bold;
  font-size: 50px;
  background-color: rgba(0,0,0, .8);
  display: inline-block;
  padding: 15px 20px;
}

.middle {
  background-image: url(./bg_pink.jpg);
  padding: 50px 0;
}

.middle_bg {
  display: flex;
}

.img-block {
  flex: 1;
  text-align: center;
}

.img-block .img {
  height: 440px;
}

.img-1 {
  background-image: url(./bg1.jpg);
}

.img-2 {
  background-image: url(./bg2.jpg);
}

.img-3 {
  background-image: url(./bg3.jpg);
}

.switch-img {
  height: 500px;
  width: 400px;
  display: inline-block;
  margin-left: 230px;
}

.dress.si-1 {
  background-image: url(./flicker_1.jpg);
}

.dress.si-2 {
  background-image: url(./flicker_2.jpg);
}

.dress.si-3 {
  background-image: url(./flicker_3.jpg);
}

.clothes.si-1 {
  background-image: url(./Japanese1.jpg);
}

.clothes.si-2 {
  background-image: url(./Japanese2.jpg);
}

.clothes.si-3 {
  background-image: url(./Japanese3.jpg);
}

.footer {
  text-align: center;
  background-color: #efa1af;
  line-height: 40px;
  font-size: 20px;
}

.footer li {
  display: inline;
  margin: 0 5px;
}

.footer li a {
  color: black;
  text-decoration: none;
  font-size: 30px;
}

.footer ul {
  padding-left: 0;
}

.top {
  position: fixed;
  right: 100px;
  bottom: 100px;
  text-align: center;
  line-height: 16px;
  color: #000;
  background-color: #eee;
  padding: 10px;
  border-radius: 100%;
  width: 60px;
  height: 60px;
}

.top:hover {
  background-color: #d68190;
  color: #fff;
  text-decoration: none;
}
